footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
}
.contact-me {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.contact-me a {
  padding-left: 10px;
  padding-right: 10px;
}

.contact-me a img {
  width: 40px;
  height: 40px;
}

