header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: row;
  margin-top: 10rem;
  margin-bottom: 12rem;
}

.ds__aboutMe {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80vh;
  margin-left: 100px;
  margin-right: 100px;
}

.ds__aboutMe-container {
  display: flex;
  flex-direction: column;
  align-content: space-around;

  height: 50vh;
  margin: 0px;
}

.ds__aboutMe-container h1{
  font-weight: 700;
  font-size: 7rem;
  line-height: 7.5rem;
  letter-spacing: -0.04rem;
}

.ds__aboutMe-container h2 {
  margin-top: .4rem;
  margin-bottom: 1rem;
  font-size: 62px;

  font-weight: 700;
  line-height: 75px;
  letter-spacing: -0.04rem;
}

.ds__aboutMe-container h2 span {
  color: var(--secondary);
}

.ds__aboutMe-container p {
  line-height: 3rem;
  font-size: 2rem;
}

.ds__aboutMe-container p span {
  color: var(--secondary);
}

.ds__aboutMe-contact {
  margin-top: 1.5vh;
  border-radius: 8px;
  padding: 1vh;
  width: 19rem;
  color: var(--secondary);
  border: #52e3c2 solid;
  cursor: pointer;
}

.ds__aboutMe-contact:hover{
  color: white;
}