.ds__navbar li {
  display: inline-block;
  align-items: flex-end;
  margin-left: 2rem;

  list-style: none;
  padding-bottom: 10px;

  font-size: 20px;
  line-height: 20px;
}

.ds__navbar li a {
  padding: 0 1vh;
  text-decoration: none;
  font-size: var(--lg);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}