:root {
  --white: #FFFFFF;
  --black: #000000;
  --gray: #C7C7C7;
  --blue: #00c6ff;
  --xsm: 8px;
  --sm: 12px;
  --md: 16px;
  --lg: 180px;
}


html{
  width: 100vh;
}
body{
  width: 100vh;

}


header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100vh; */

  font-size: var(--md);
}

header :nth-child(1){
color: var(--blue);
}
header :nth-child(3){
  color: var(--blue);
}

.search-bar{
  padding-top: 15px;
  display: grid;
  place-content: center;
}
.search-bar input{
  background: rgb(56, 56, 56);
  width: 180px;
  height: 23px;
  border-radius: 10px;
  padding-left: 90px;
  padding-right: 90px;

  border-style: solid;

  /* color: white; */
  border-color: gray;
  border-width: 2px;
  list-style-image: none;


}







body{
  min-height: 100vh;
  font-family:  Quicksand;
  color: #FFFFFF;
  margin-bottom:50px;

}


.chats{
  	padding: 0.75rem 0 !important;
	overflow-y: auto;
	white-space: nowrap;
}

.chats ul{
  list-style: none;
  padding-left: 10px ;
}
.chats li{
  list-style: none;
  width: 100%;
  margin-bottom: 15px;
}

.chat-container{
  display: flex;
}
.chat-container figure{
  display: block;
  /* margin-block-start: 1em;
  margin-block-end: 1em; */
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.chat-container img{
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.chat-container__msg{
  margin-top: auto;
	margin-bottom: auto;
	margin-left: 15px;
}

.chat-container__msg p{
  color: var(--gray);
  font-size: var(--sm);
  margin-top: 5px;
  margin-bottom: 10px;
}



footer{
  /* Centrado */
  width: 100vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  
  /* Footer */
  position: fixed;
  bottom: 0;
  height: 75px;   
}



.img-container{
  /* Centrado*/
  width: 100vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  /* Arriba del footer */
  position: fixed;
  bottom: 30px;
  height: 75px;   

}

.img-container img{
  height: 30px;
  width: 30px;
}

.img-container img:nth-child(odd){
  /* Le añade un padding de 15px a los elementos impares */
  padding: 15px;
}