:root {
  --background: #181a1b;
  --secondary: #52e3c2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Manrope', sans-serif;
  background-color: var(--background);
}

html {
  font-size: 62.5%;
}

/* Animaciones de la navbar, de @codepen.io */
a:after {
  content: '';
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  color: var(--secondary);
}

a:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}