/* 
@media(max-width: 1141px){ 
  .ds__aboutMe {
    height: 50vh;
    margin-left: 32px;
  }
  .ds__aboutMe-container{
    margin-right: 42px;
  }
  .ds__aboutMe-container h1{
    font-size: 5rem;
  }
  .ds__aboutMe-container h2{
    font-size: 40px;
    line-height: 35px;
  }
  .ds__aboutMe-container p {
    line-height: 3rem;
    font-size: 20px;
  }
  
  .ds__projects-title {
    margin-top: -20rem;
  }
  
  .textProject {
    margin-top: 3rem;
  }
  
  .ds__projects-mobile {
    display: flex;
    flex-direction: column;
  }
  
  .ds__projects-mobile img {
    width: 270px;
    height: 529px;
    border-radius: 8px;
  }
  .ds__projects-desktop img {
    width: 64rem;
    height: 41rem;
  }
  
  .ds__skills-tittle {
    margin-top: 5rem;
  }
  .ds__skills-hobbies-container {
  margin-top: 3rem;
  height: 5vh;
  width: 55vh;
  }

  .hobbie {
  border-radius: 10px;
  width: 10rem;
  height: 10rem;
  margin: 0rem 12px;
  }
  
  .ds__contactText {
  height: 20rem;
  }
  
  .ds__contact-container h1 {
  font-size: 4rem;
  line-height: 3.5rem;
  }
  .ds__contact-container h2 {
  font-size: 4rem;
  }
}

@media(max-width: 1280px) {
  .ds__projects-mobile img {
    width: 270px;
    height: 529px;
    border-radius: 8px;
    margin-left: 14px;
  }
} */


@media(max-width: 450px) {
  ul {
    list-style: none;
    width: 100%;
  }
  .sticky {
    width: auto;
  }
  header{
    margin-top: 10rem;
    margin-bottom: 25rem;
  }

  .ds__aboutMe {
    height: 50vh;
    margin-left: 30px;
    margin-right: 0;
  }

  .ds__aboutMe-container h1 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 7.5rem;
    letter-spacing: -0.04rem;
    margin-right: 0;

}
  .ds__aboutMe-container h2{
    font-size: 35px;
    line-height: 35px;
    margin-top: -1.6rem;

  }

  .ds__aboutMe-container p {
    font-size: 16px;
}

  .ds__projects-title {
    margin-top: 10rem;
  } 

  .ds__projects-mobile__mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .ds__projects-mobile img {
    width: 300px;
    height: 600px;
  }

  .ds__projects-desktop img {
    width: 36rem;
    height: 21rem;
}
.textProject {
  font-size: 2rem;
  margin-bottom: 10px;
}

.hobbie {
  border-radius: 10px;
  width: 6rem;
  height: 6rem;
  margin: 2rem 12px;
}
.ds__skills-hobbies-container {
  width: 44vh;
}
.ds__contact-container h1 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 7.5rem;
  letter-spacing: -0.04rem;
}
.ds__contact-container h2 {
  margin-top: -1.6rem;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.04rem;
  line-height: 39px;

}
.ds__contactText {
  margin-top: -140px;
}
.ds__contact-card {
  width: 476px;
  height: 200px;
}
.ds__contact-card img {
  width: 198px;
  height: 200px;
  border-radius: 10px 0px 0px 10px;
}
.ds__contact-info span {
  background-color: black;
  font-size: 1.5rem;
}
.ds__contact-info p {
  font-size: 1.5rem;
}
}
