
/* Tabla */
table {
  border-collapse: collapse;
  width: 90%;
  font-size: 24px;
  margin-left: 5%;
}

td {
  border-spacing: 0px;
  padding: 0.2%;
}

.table {
  background-color: #000000;
  color: #FFFFFF;
}

.name {
  background-color: #181a1b;
  color: #666666;
}

.name:hover {
  background-color: #52e3c173;
  color: #666666;
}

.title {
  font-size: 3rem;
  margin-left: 770px;
  margin-bottom: 20px;
  place-self: center;
}

span {
  color: var(--secondary);
}

/* Animaciones de la navbar, de @codepen.io */
a:after {
  content: '';
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  color: var(--secondary);
}

a:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}