.ds__header{
  display: flex;
  flex-direction: row;
}

.ds__header-content{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  margin-right: 5rem;
}

.ds__header-content h1{
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04rem;
}

.ds__header-content p{
  font-size: 20px;
  line-height: 27px;
  color: var(--color-text);

  margin-top: 1.5rem;
}

.ds__header-image{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ds__header-image img{
  width: 100%;
  height: 100%;
}


@media screen and (max-width: 1050px){
  .ds__header{
    flex-direction: column;
  }

  .ds__header-content{
    margin: 0 0 3rem;
  }
}

@media screen and (max-width: 650px){
  .ds__header h1{
    font-size: 48px;
    line-height: 60px;
  }

  .ds__header p{
    font-size: 48px;
    line-height: 60px;
  }
}

@media screen and (max-width: 490px){
  .ds__header h1{
    font-size: 36px;
    line-height: 48px;
  }

  .ds__header p{
    font-size: 14px;
    line-height: 24px;
  }

}