:root {
  --white: #FFFFFF;
  --black: #000000;
  --gray: #C7C7C7;
  --blue: #00c6ff;
  --dark-gray: #242526;
  --sm: 14px;
  --md: 16px;
  --lg: 180px;
}

body {
  background-color: var(--dark-gray);
  width: 20%;
  font-family: Quicksand;
  color: var(--white);
  margin-bottom: 45px;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100vh; */
  font-size: var(--md);
}

header :nth-child(1) {
  color: var(--blue);
}

header :nth-child(3) {
  color: var(--blue);
}

.search-bar {
  padding-top: 15px;
  display: grid;
  place-content: center;
}

.search-bar input {
  background: rgb(56, 56, 56);
  width: 180px;
  height: 23px;
  border-radius: 10px;
  padding-left: 90px;
  padding-right: 90px;

  border-style: solid;

  border-color: gray;
  border-width: 2px;
  list-style-image: none;


}


.chats {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.chats ul {
  list-style: none;
  padding-left: 10px;
}

.chats li {
  margin-bottom: 15px;
}

.chat-container {
  display: flex;
  margin-bottom: -33px;
}

.chat-container figure {
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.chat-container img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin-bottom: 15px;
}

.chat-container__msg {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
  margin-right: 100px;

}

.chat-container__msg p {
  color: var(--gray);
  font-size: var(--sm);
  margin-top: 5px;
  margin-bottom: 10px;
}

/* Seccion Footer */
footer {
  width: 20%;

  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--sm);



  /* Footer */
  position: fixed;
  bottom: -15px;
  height: 75px;
}

.img-container {
  /* Centrado*/
  width: 20%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  /* Arriba del footer */
  position: fixed;
  bottom: 15px;
  height: 75px;
}

.img-container img {
  height: 25px;
  width: 25px;
}

.img-container img:nth-child(odd) {
  /* Le añade un padding elementos impares (2n+1) */
  padding: 15px;
}

hr {
  width: 240px;
}