:root {
  --background: #181a1b;
  --secondary: #52e3c2;
  --light-gray: #21252b;

  --sm: 12px;
  --md: 14px;
  --lg: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%;
  background-color: var(--background);
}

header {
  display: flex;
  justify-content: center;

  height: 10vh;
  width: 100vw;
  border-radius: 5px;
}

.navbar li {
  display: inline-block;
  align-items: flex-end;
  margin-left: 2rem;

  list-style: none;
  padding-bottom: 10px;

  font-size: 14px;
}

.navbar li a {
  padding: 0 1vh;
  text-decoration: none;
  font-size: var(--lg);
}



/* Tabla */
table {
  border-collapse: collapse;
  width: 90%;
  font-size: 24px;
  margin-left: 5%;
}

td {
  border-spacing: 0px;
  padding: 0.2%;
}

.table {
  background-color: #000000;
  color: #FFFFFF;
}

.name {
  background-color: #181a1b;
  color: #666666;
}

.name:hover {
  background-color: #52e3c173;
  color: #666666;
}

.title {
  font-size: 3rem;
  margin-left: 770px;
  margin-bottom: 20px;
  place-self: center;
}


span {
  color: var(--secondary);
}


/* Animaciones de la navbar, de @codepen.io */
a:after {
  content: '';
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  color: var(--secondary);
}

a:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}